<div class="page-header">
  <%= link_to new_interview_event_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Interview event
  <% end %>
  <h1>Listing interviews</h1>
</div>

<%= render partial: 'interviews_list',
  formats: :html,
  handlers: :erb,
  locals: {interviews_list: @interview_events} %>